 html{
    color: #D4D4D4;
    font-family:Arial, Helvetica, sans-serif ;
} 
.textcols {
    white-space: nowrap;
   }
   .textcols-item {
    white-space: normal; 
    display: inline-block;
    width: 48%;
    vertical-align: top;
    background: #05013e;
   }
   .textcols .textcols-item:first-child {
    margin-right: 4%;
   }
span{
    font-style: italic;

}
p{
margin-left: 4px;
}
 body{
    background: #181819;
} 
h1{
    font-size: 3rem;
    text-align: center;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
.bold-text{
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #dddddda6;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f299;
    color: #181819;
  }
